<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="MyConnectionString"
			  connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UsersAndAwards;Integrated Security=True" providerName="System.Data.SqlClient" />
      <!--<add name="HomeConnectionString"
			  connectionString="" />-->
  </connectionStrings>
</configuration>